* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --defaultcolor: #011627;
  --defaultnavtext: #ece5f0;
  --defaultcolor2: #35a7ff;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
nav {
  display: flex;
}
.navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  font-size: 1rem;
  padding-top: 0.1em;
}

a {
  text-decoration: none;
  color: var(--defaultnavtext);
  /* text-shadow: 0 1px 4px rgba(146, 161, 176, 1); */
}
.navbar {
  width: 100%;
  min-height: 5vh;
  padding: 1em 0.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--defaultnavtext);
  background-color: var(--defaultcolor);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.75);
  position: fixed;
  /* max-width: 100%; */
}
.homepage {
  padding-top: 4em;
}
.home {
  letter-spacing: 0.2rem;
  padding: 0em 1em;
  /* text-shadow: 0 1px 4px rgba(146, 161, 176, 1); */
}
.home_content {
  padding: 1em;
  font-size: 1.8rem;
}
.home_title {
  padding: 0.1em;
}

.profile {
  padding: 2em;
  width: 90%;
  float: right;
}
.contactbutton {
  display: inline;
  background-color: var(--defaultcolor);
  color: var(--defaultnavtext);
  padding: 0.6em;
  border-radius: 10px;
  margin: 1em;
}
.contact {
  margin-top: 1em;
}
.socialicons {
  margin-left: 0.8em;
  color: var(--defaultcolor);
  font-size: 2em;
  width: 10%;
}
ul {
  list-style-type: none;
}
.socialicon {
  margin: 0.1em;
  padding: 0.1em;
  color: var(--defaultcolor);
}
.picandicon {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon1 {
  color: var(--defaultcolor);
}
.icon1:hover {
  color: var(--defaultcolor2);
}
